body {
    font-family: "Open Sans";
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #312633;
    background-color: #f4efd3;
    background-color: #f4efd3;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
    text-align: center;
    margin-bottom: 25px;
    background-color: #c2b0c9;
    padding:15px;
}

.title {
    font-family: "Gravitas One";
    font-size: 2.75rem;
    margin: 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
}

.menu {
    background-color: #fff;
    width: 15%;
    position: fixed;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.sort-by {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid#ccc;
    padding: 20px;
    background-color: #c2b0c9;
}

.sort-by h3 {
    margin: 0;
}

.filter {
    padding: 15px;
}

.filter h3 {
    margin: 0;
    margin-bottom: 15px;
}

.artists-cards {
    position: relative;
    left: 20%;
    width: 80%;
    display: grid;
    grid-gap: 30px 5px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-bottom: 50px;
}

.box-shadow {
    /* -webkit-box-shadow: -1px 3px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -1px 3px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         -1px 3px 10px 0px rgba(50, 50, 50, 0.5); */
    box-shadow: 0 1px 2px 0px rgba(49,38,51,0.5);
}

.artist-card {
    background-color: #fff;
    width: 350px;
    border-radius: 10px;
}

.artist-card:hover {
    -webkit-box-shadow: -1px 3px 10px 0px rgba(49, 38, 51, 0.5);
    -moz-box-shadow:    -1px 3px 10px 0px rgba(49, 38, 51, 0.5);
    box-shadow:         -1px 3px 10px 0px rgba(49, 38, 51, 0.5);
    cursor: pointer;
    position: relative;
    top: 2px;
}

.artist-image {
    height: 400px;
    width: 350px;
    overflow: hidden;
}

.artist-card img {
    max-width: 100%;
    height: auto;
}

.artist-info {
    padding: 10px;
}

.artist-name {
    font-family: "Merriweather";
    font-weight: 900;
    font-style: italic;
    color: #9656a1;
}

.artist-bio {
    font-weight: 300;
}

footer {
    background-color: #c2b0c9;
    padding: 15px 10px;
}